.formGroup {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputGroup {
  border-radius: 2.34375rem 0rem 0rem 2.34375rem;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 4px 4px 0px 0px #000;
  width: 31.25rem;
  height: 5.125rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.inputImg {
  width: 1.5rem;
  height: 1.64rem;
}

.button {
  width: 14.1875rem;
  height: 5.125rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 14.1875rem;
  height: 5.125rem;
  flex-shrink: 0;
  color: #444;
}
